body {
  background-color: #222222;
}

.seccao {
  padding: 0px 10%;
}

.area-sobre{
  padding: 180px;
  background-color: #191919;
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav-menu {
  display: flex;
  align-self: center;
  color: #e3e3e3;
}

p{
  color: #e3e3e3;
}

h6 {
  padding: 5px;
  margin: 0px 10px;
  font-size: 15px;
  
}

.logo {
  width: 50px;
  height: 50px;

}

.botao {
  background-color: #ef6b50;
  padding: 12px 10px 12px 10px;
  color: white;
  font-size: 15px;
  border-radius: 3px;
  height: fit-content;
  text-decoration: none;
  border: #222222;
}

.button {
  transition-duration: 0.4s;
  
  
}

.button:hover {
  background-color: #222222;
  color: #ef6b50;
  border: #ef6b50;
}

h1{
  color:  #ef6b50;
}

span{
  color: #e3e3e3;
}

.hero{
  display: flex;
    justify-content: space-between;
}

.hero-img{
  display: flex;
    align-items: center;
}
.hero-image{
  width: 150px;
  height: 200px;
  border-radius: 10%;
}

.hero-social{
  display: flex;
    flex-direction: column;
    justify-content: center;
}
.social-midia{
  width: 20px;
  height: 20px;
}