body {
  background-color: #191919;
}

.seccao {
  padding: 0px 10%;
}

.area-sobre{
  padding: 100px 10%;
  background-color: #222222;
  margin-top: 10px;
}

.area-servicos{
  padding: 100px 10%;
  background-color: #191919;
  margin-top: 10px;
}

.area-portifolio{
  padding: 100px 10%;
  background-color: #191919;
  margin-top: 10px;
}

.area-contacto{
  padding: 100px 10%;
  background-color: #191919;
  margin-top: 10px;
}

.area-footer{
  padding: 10px 10%;
  background-color: #222222;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav-menu {
  display: flex;
  align-self: center;
  color: #e3e3e3;
}

p{
  color: #e3e3e3;
}

h6 {
  padding: 5px;
  margin: 0px 10px;
  font-size: 15px;
  
}

.logo {
  width: 50px;
  height: 50px;

}

.botao {
  background-color: #ef6b50;
  padding: 12px 10px 12px 10px;
  color: white;
  font-size: 15px;
  border-radius: 3px;
  height: fit-content;
  text-decoration: none;
  border: #222222;
  border-radius: 20px;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #222222;
  color: #ef6b50;
  border: #ef6b50;
}

h1{
  color:  #ef6b50;
}

span{
  color: #e3e3e3;
}

.hero{
  display: flex;
    justify-content: space-between;
}

.hero-img{
  display: flex;
    align-items: center;
}
.hero-image{
  width: 150px;
  height: 200px;
  border-radius: 10%;
}

.hero-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-socials{
  display: flex;
  justify-content: center;
}

.social-midia{
  width: 20px;
  height: 20px;
}

.social-midias{
  width: 30px;
  height: 30px;
}

.imagem{
  width: 500px;
  margin-top: -145px;
  border-radius: 50px;
}
.texto{
  margin-top: -300px;
  margin-left: 520px;
  font-size: 25px;
}

.textoS{
  margin-top: -80px;
  margin-left: 10px;
  font-size: 25px;
}

.textoP{
  margin-top: -170px;
  margin-left: 10px;
  font-size: 25px;
}

.textoc{
  margin-top: -170px;
  margin-left: 10px;
  font-size: 25px;
}


.conteudo{
  font-size: 15px;
  color: #ef6b50;
}
.conteudoo{
  font-size: 15px;
  color: #696969;
}

.container{
  display: flex;
  margin-top: 80px;
}
.cor{
  color: #ef6b50;
  background-color: #ef6b50;
  margin-top: -20px;
  margin-right: 530px;
  border-radius: 10px;
  font-size: 3px;

}

.corS{
  color: #ef6b50;
  background-color: #ef6b50;
  margin-top: -20px;
  margin-right: 1020px;
  border-radius: 10px;
  font-size: 3px;
  margin-left: 12px;

}

.corP{
  color: #ef6b50;
  background-color: #ef6b50;
  margin-top: -20px;
  margin-right: 1020px;
  border-radius: 10px;
  font-size: 3px;
  margin-left: 12px;

}


/* CSS do Card */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
  background-color: #222222;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
 
.card p {
  color: #696969;
  font-size: 16px;
  text-align: center;
}

.card h2{
 color: #e3e3e3;
 text-align: center;
}
 
.image {
    display: flex;
    justify-content: center;
    max-width: 100px;
    max-height: 100px; 
    border-radius: 70px;   
    margin: auto;
}

.blue {
  border-left: 3px solid #4895ff;
}
 
.green {
  border-left: 3px solid #3bb54a;
}
 
.red {
  border-left: 3px solid #b3404a;
}

/* Fim do CSS do card */



.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Esconder imagem */
.mySlides {
  display: none;
}

/* Next & previous botões */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Posição to botão direito */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*indicadores */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 5px solid #222222;
  border-radius: 20px;
  box-sizing: border-box;
  resize: vertical;
  background-color: #e3e3e3;
  font-size: 18px;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #191919;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  float: right;
  font-size: 20px;
}

/* Style the container */
.containers {
  border-radius: 5px;
  background-color: #222222;
  padding: 20px;
  justify-content: center;
  margin: auto;
}
.rows{
  display: flex;
  justify-content: center;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  width: 75%;
  margin-top: 6px;
  margin: auto;

}

/* Clear floats after the columns */
.rows:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


@media screen and (max-width: 800px) {
  .row, .card {
    display: flex;
    display: block;
    justify-content: center;
    width: 260px;
    
  }
}




